@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
	margin: 0;
	padding: 0;
}
.sidebar{
	background-color: rgb(168, 241, 138);
	width: 434px;
	height: 100vh;
	font-family: 'Fira Sans', sans-serif;

}

.sidebar nav{
	padding: 25px;
}

.sidebar nav li{  
	list-style: none;
	font-size: 30px;
	padding: 33px 0;
}

.sidebar nav li a{
	text-decoration: none;
	color: rgb(9, 51, 7);

}

.main{
	/*background-color: yellow;*/
	width: 90vw;

}

.container{
	display: flex;
}

.infoContainer{
	/*background-color: rgb(100,202,9);*/
	height: 58vh;
	width: 80vw;
	margin: 144px auto;
	display: flex;
	justify-content: space-around;



}
.devInfo{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Source Code Pro',monospace;
}

.hello{
	font-size: 55px;

}
.name{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Fira Sans', sans-serif;


}
.about{
	font-size: 40px;


}
.aboutmore{
	font-size: 22px;
	margin-top: 23px;
	font-family: 'Fira Sans', sans-serif;

}
.buttons{
	margin-top: 34px;

}
.buttons button{
	padding: 9px 14px;
	border-radius: 22px;
	color: rgb(0, 0, 0);
	background-color: rgb(15, 97, 15);
	font-weight: bold;
	font-size: 21px;
	margin: 0 3px;
	cursor: pointer;
}

.buttons button:hover{
	background-color: white;
	color: rgb(6, 78, 22);
}

.devPic img{
	height: 58vh;
	width: 255px;
	justify-content: space-around;
}


.contactForm{
	padding: 0 34px;
	padding-top: 144px;
	
	font-family: 'Fira Sans', sans-serif;
}

.contactForm h1{
	font-family: 'Source Code Pro',monospace;
	text-align: center;
	
}

.contactForm form div{
	padding: 27px 0 ;
}

.contactForm

.box{
	position: relative;
	 
	left: 10px;
	width: 800px;
	height:560px;
	top:10px;
	
	padding: 50px;
	border-radius: 30px;
	box-shadow: 0px 3px 5px 5px #1dc70e; 


}

h2{
text-align: center;
margin-bottom: 20px;
text-transform: uppercase;
letter-spacing: 3px;
color: #1a5c0a;

}

.box .input_field{
margin-bottom: 10px;
}
.box .input_field input[type ="text"],
.box textarea{

width:100%;
border:2px solid #4a853b;
padding: 10px;

}

.box textarea{

	width: 800px;
height: 150px;
resize: none;

}

.box .btn input[type="submit"]{
border: 1px solid #1a5c0a;
left: 50px;
margin-top: 15px;
padding: 10px;
width: 104%;
border-radius: 25px;
background-color:#7dfc5e; 
text-transform: uppercase;
letter-spacing: 5px;
font-weight: bold;
cursor: pointer;
color: #0a2909e8;
}


.box #error_message{
	margin-bottom: 20px;
	position: relative;
	left: 150px;
	width: 500px;
	padding: 0px;
	background: #3fdb18;
	text-align: center;
	font-size: 14px;
	transition: all 0.5s ease;
	}


